# Зависимости
/node_modules
/pnpm-lock.yaml

# Секреты (Обязательно!)
.env
.env.local
.env.*.local

# Выходные файлы сборки Astro/Vercel
/dist
/.astro
/.vercel
/out

# Файлы логов и кэша
npm-debug.log*
.npm
.yarn/cache
.DS_Store