---
import MainLayout from '@/layouts/MainLayout.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro'; 
// !!! УДАЛЯЕМ ContactBanner и импортируем новый ограниченный блок
// import ContactBanner from '@/components/ContactBanner.astro'; 
import MontazhContactBanner from '@/components/MontazhContactBanner.astro'; 

import MontazhProcess from '@/components/MontazhProcess.astro';
import MontazhDeadline from '@/components/MontazhDeadline.astro'; 
import MontazhGuarantees from '@/components/MontazhGuarantees.astro'; 

const ACTIVE_LINK = "Монтаж";
---

<MainLayout title="Монтаж и Пусконаладка | IT37" activeLink={ACTIVE_LINK}>
  <Header activeLink={ACTIVE_LINK} />
 
  <section class="hero-page">
    <div class="container">
      <h1 style="color:var(--accent);">Профессиональный Монтаж</h1>
      <p>
        Быстрый и безошибочный монтаж узлов учета тепла, воды и газа. Наши бригады работают строго по утвержденной проектной документации, гарантируя сдачу узла в эксплуатацию с первого раза.
      </p>
      <a href="#contact-block" class="btn">Заказать монтаж</a>
    </div>
  </section>

  <section class="section" style="padding-top: 0;">
    <MontazhProcess />
    <MontazhGuarantees /> 
    <MontazhDeadline /> 
  </section>

  {/* !!! ФИНАЛЬНЫЙ БЛОК: МОНТАЖНЫЙ ОТДЕЛ + ОГРАНИЧЕННАЯ ШИРИНА !!! */}
  <MontazhContactBanner 
    title="Связаться с монтажным отделом"
    phone="+7 (4932) 37-25-55 (доб. 101)"
    email="snv@it37.ru"
    buttonText="Обсудить сроки монтажа"
    id="contact-block"
  />

  <Footer />
</MainLayout>