---
---
<div class="container">
    <div class="info-card" style="margin-top: 50px;">
        <h3 style="color:var(--text-main);">Внесение данных во ФГИС "Аршин"</h3>
        <p style="color:var(--text-gray); margin-top:10px;">Мы гарантируем, что все данные о проведенной поверке будут своевременно внесены в Федеральный информационный фонд по обеспечению единства измерений (ФГИС "Аршин"). Это единственный юридически значимый факт подтверждения пригодности прибора к эксплуатации, согласно **ФЗ №102**. Услуга включена в стоимость поверки.</p>
    </div>
</div>