---
---
<div class="container">
    <div class="design-viz-block">
        <h3>BIM-Моделирование: Генерация Проекта</h3>
        <div class="viz-placeholder">
            
            <svg class="blueprint-svg" viewBox="0 0 500 250" xmlns="http://www.w3.org/2000/svg">
                
                <g class="draw-path">
                    <path d="M 50 80 L 450 80" />
                    <path d="M 120 50 L 120 110" />
                    <path d="M 380 50 L 380 110" />
                    <rect x="180" y="50" width="100" height="60" />
                    <path d="M 220 80 L 220 40" />
                    <path d="M 60 70 L 110 90" />
                    <path d="M 60 90 L 110 70" />
                </g>

                <g class="draw-path draw-delay">
                    <path d="M 50 180 L 450 180" />
                    <path d="M 150 150 L 150 210" />
                    <path d="M 400 150 L 400 210" />
                    <rect x="250" y="150" width="100" height="60" />
                    <path d="M 300 180 L 300 220" />
                    <path d="M 400 170 L 450 190" />
                    <path d="M 400 190 L 450 170" />
                </g>

                <g class="draw-path" style="animation-delay: 4.5s;">
                    <path d="M 220 40 L 250 10 L 300 10 L 300 40" /> 
                    <rect x="230" y="10" width="80" height="30" />
                </g>
                
            </svg>
            
            <div class="viz-status">
                >> PROJECT UUTE: **KRASNODAR-01**<br>
                >> LASER TRACING: ACTIVE
            </div>
        </div>
        <p style="color:var(--text-gray); font-size:14px; margin-top:15px;">
            Создаем точную цифровую модель узла учета, исключая ошибки на этапе монтажа.
        </p>
    </div>
</div>