---
---
<footer>
    <div class="container nav-flex">
        <div>
            <div class="logo" style="font-size: 18px;">IT<span>37</span></div>
            <div style="margin-top: 10px;">Группа компаний</div>
        </div>
        <div style="text-align: right;">
            <p>г. Иваново</p>
            <p style="color: white; margin-top: 5px;">+7 (4932) 37-25-55</p>
            <p style="margin-top:5px;">info@it37.ru</p>
        </div>
    </div>
</footer>